SERVER_PORT=8081

POSTGRES_DB=user_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
HIBERNATE_FORMAT_SQL=false
FLYWAY_ENABLED=false

JWT_PRIVATE_KEY=
JWT_KEY_ID=user-service-rsa-1
JWT_ISSUER=study-platform-user-service
JWT_AUDIENCE=study-platform
JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=7

LOG_LEVEL_ROOT=INFO
LOG_LEVEL_WEB=INFO
LOG_LEVEL_SECURITY=INFO
LOG_LEVEL_USERSERVICE=DEBUG
